<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uab.lis.rugby">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-sdk android:minSdkVersion="14"/>
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".app.RugbyApplication"
            android:theme="@android:style/Theme.Holo.NoActionBar">

        <provider android:name=".database.ContentProviders.MyAppContentProvider"
                  android:authorities="com.uab.lis.rugby"/>

        <activity
                android:name=".ui.activity.AndroidStarter"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".ui.activity.Main"
                  android:label="main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CreateUser"/>
        <activity android:name=".ui.activity.MenuPrincipal"/>

        <service android:name=".service.MusicService" />
    </application>

</manifest>
