<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uab.lis.rugby">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <uses-sdk android:minSdkVersion="17"/>
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:name=".app.RugbyApplication">
        <activity
                android:name=".ui.activity.AndroidStarter"
                android:label="@string/app_name"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".ui.activity.Main" android:label="main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".service.MusicService" />
        <receiver android:name=".service.SystemBrodcastReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <provider android:name="JugadoresProvider"
                  android:authorities="com.example.PruebasManu"/>
    </application>

</manifest>
